.carrossel-titulo{
  color:var(--laranja);
  text-align: center;
  text-transform: uppercase;
  background-color:  var(-- branco);
  font-size: px;
  font-weight: 700;
  padding: 1em 0 0 sem 0;
}

.swiper-slide img {
  width: 100% ;

  
  
.swiper-button-prev,
.swiper-button-next {
    display: none;
}


.swiper-pagination {
    position: initial;
    margin: .5em 0;
}


https://github.com/giullianacestari/alura-books/blob/aula10/styles/carrossel.css
